.info {
  width: clamp(320px, 75%, 1024px);
  margin: 0 auto;

  .link {
    display: block;
    margin-bottom: 1rem;
  }

  .banner {
    height: 400px;
    background: rgba(0, 0, 0, 0.765);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    .box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: #fff;

      .name {
        font-size: 2rem;
      }

      .alternateNames {
        display: block;
        padding: 0.25rem;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        margin-top: -1rem;
        margin-bottom: 1rem;
      }
    }

    .image {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 300px;
      background-color: red;
      filter: opacity(0.5);
      transition: filter 0.3s ease-in;
    }

    &:hover .image {
      filter: opacity(1);
    }

    .favorite {
      position: absolute;
      z-index: 1;
      top: 2rem;
      right: 2rem;
      padding: 0;
      width: 2rem;
      height: 2rem;

      display: grid;
      place-items: center;
      border-radius: 50%;
    }
  }
}
